/*********** Main content ***********/

a {
	text-decoration: underline;
	text-decoration-color: #e0cf70;
	color: #736522;
}

a:hover {
	text-decoration: underline;
}

audio, img {
	width: 100%;
}

body {
	background-color: #f2f2f2;
	margin: 0 auto;
	max-width: 800px;
	width: 80vw;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;

	font-family: 'Muli', sans-serif;
    font-size: 1em;
    line-height: 2em;
}

h1, h2, h3, .brand {
	font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #454545;
}

h2 {
	font-size: 1.5em;
	margin: 15px 0px 5px 0px;
}

i {
	font-size: 1.5em;
}

p {
	margin-bottom: 1.5em;
}

.align-top {
	align-self: start;
}

.container {
	background-color: white;
	margin: 1em 0em 2em 0em;
	padding: 1.5em;

	display: grid;
	align-items: center;
	grid-column-gap: 25px;
}

.container:hover{
	animation-name: shadowin;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

/*.text-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;

}*/

.left {
	float: left;
}

.right {
	float: right;
}


@keyframes shadowin {
	from {
		box-shadow: none;
	}
	to {
		/*-webkit-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);*/
		/*-moz-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);*/
		box-shadow: 0px 8px 20px -10px rgba(47,47,47,1);
	}
}

@media screen and (min-width: 776px){
	.container {
		grid-template-columns: 1fr 2fr;
		align-items: center;
		grid-column-gap: 25px;
	}

	.text-container div img {
		max-width: 300px;
		padding: 0em 0em 0em 2.5em;
	}	
}


/*********** Header / Nav ***********/

.brand {
	color: black;
	text-decoration: none;
	font-size: 2.35em;
	padding-bottom: 1em;

	flex-grow: 2;
}

nav {
	padding: 0em 0em 3em 0em;
}

nav a {
	text-decoration: none !important;
	color: black;
	padding: 1em;
}

nav li a:hover, nav li a.current{
	/*background-color: black;
	color: white;
	text-decoration: underline;*/
	animation-name: fadetoblack;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

nav li a.current {
	background-color: #736522 !important;
	color: white !important;
	text-decoration: underline !important;
}

nav ul {
	display: flex;
	flex-flow: row nowrap;
}

#nav-wrap {
	background-color: #e0cf70;
	margin: -40px -60px 30px -60px;
	padding: 40px 60px 0px 60px;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

	font-size: 1em;

	background:  linear-gradient(rgba(224,207,112, .5), rgba(224,207,112, 0.5)), url("../img/rainbow.jpg");
	background-color: #cccccc;
}

@keyframes fadetoblack {
	from {
		background-color: inherit; 
		color: inherit;
	}
	to {
		background-color: #736522; 
		color: white;
	}
}


/*********** Footer / Alignment ***********/
footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	margin-bottom: 10px;
	text-align: center;
}

#main {
	padding-top: 25px;
	padding-bottom: 100px;
}


/*********** Skip to content ***********/

.skip{
	position: relative;
	left: -2000px;
}

.skip:focus {
	position: static;
}
